@font-face {
	font-family: Bebas;
	src: url("./fonts/bebas-neue.ttf");
}

* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	/* height: 100%; */
	padding: 0;
}
body {
	background: #181818;
	color: white;
	font-size: 12px;
	font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 58px;
}
a {
	color: #ca2e25;
}
a:hover {
	color: #e4746e;
}
body > footer {
	background: #161616;
	border-top: 1px solid #000;
	width: 100%;
	padding: 50px;
	color: #fff8;
}
@keyframes fadeIn{
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes slideUp{
	from { transform: translateY(20px); }
	to { transform: translateY(0); }
}
@keyframes zoomOut{
	from { transform: scale(.7); }
	to { transform: scale(1); }
}